@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url('estadio.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.411) 30%, rgba(0, 0, 255, 0.411) , rgba(255, 255, 0, 0.411), rgba(0, 128, 0, 0.411));
    padding: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topo {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.411) 30%, rgba(0, 0, 255, 0.411) , rgba(255, 255, 0, 0.411), rgba(0, 128, 0, 0.411));
    padding: 10px;
}



#topo a {
    text-decoration: none;
    padding: 2px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#topo a:hover {
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.cab {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.411) 30%, rgba(0, 0, 255, 0.411) , rgba(255, 255, 0, 0.411), rgba(0, 128, 0, 0.411));
    padding: 10px;
}

.cab a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cab a:hover {
    background-color: blue;
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}

.cab li {
    display: inline-block;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.cab li a:hover {
    border-radius: 5px;
}

.dropdown-menu {
    background-color: white;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.459);
    display: none;
    margin-top: 10px;
    width: 150px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

a.cad {
    float: right;
}

.conteudo a {
    text-decoration: none;
    color: rgb(61, 60, 60);
    font-weight: bold;
    font-size: 30px;
}

.conteudo {
    display: inline-flex;
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
}

.prod {
    margin: 40px;
    border: solid black 1px;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

.prod img {
    transition: 0.5s all ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.prod h5 {
    margin-top: 15px;
}

.prod hr {
    margin: 20px;
}

main {
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.486);
    max-width: 1000px;
    min-width: 280px;
    height: auto;
    margin: auto;
}